<!DOCTYPE html>
<html>

<head>
    <title>Sopes 1</title>    
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/js/funciones.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
            var socket = io();
            var cont=0;
            var eli=0;
            var usuarios=[];
            var categorias=[];
            var tuit=[];
            var cattuit=[];
             socket.on('message', addMessages)
             function addMessages(message){            
                if(cont>9){
                  $("#"+eli).remove();
                  eli++;
                }
                if(!(usuarios.includes(message.alias))){
                  usuarios.push(message.alias);
                  tuit.push(0);
                }
                if(!(categorias.includes(message.categoria))){
                  categorias.push(message.categoria);
                  cattuit.push(0);
                }
                console.log(categorias)
                tuit[usuarios.indexOf(message.alias)]++;
                cattuit[categorias.indexOf(message.categoria)]++;
                 $("#messages").append(`<div id='${cont}'style="border:1px solid white; width:90%;"><Label><b> ${message.nombre} </b></Label> <Label> @${message.alias} </Label></br> <Label> ${message.txt} </Label></div>`)
                 cont++;                 
                 $("#ttuit").html(cont);  
                 $("#tuser").html(usuarios.length);
                 $("#tcat").html(categorias.length);

                 var max=0;
                 var userm="";
                 for(let i=0; i<tuit.length;i++){
                   if(tuit[i]>max){
                     max=tuit[i]
                     userm=usuarios[i];
                   }
                 }
                 $("#userm").html("@"+userm);  
                 max=0;
                 userm="";
                 for(let i=0; i<cattuit.length;i++){
                   if(cattuit[i]>max){
                     max=cattuit[i]
                     userm=categorias[i];
                   }
                 }
                 $("#catm").html(userm);  
             }
                        
    </script>

    <style>
    
    body {
  margin: 0;
  padding: 0;
  background: rgb(241, 161, 161);
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: left;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  } 
}
    
    </style>


</head>



<body class="news">
        <header>
          <div class="nav">
            <ul>
              <li class="home"><a href="#">Inicio</a></li>
            </ul>
          </div>
        </header>

        <div id="cuerpo_navegador">

                <div id="messages" style="width: 60%; float:left; height:500px; overflow: auto;">
                  
                </div>

                <div id="informacion" style="width: 40%; float:right">                  
                  <div>
                    <h4>Informacion Red Social</h4>
                    Total de usuarios:<span id="tuser">0</span></br>
                    Total de Tweets:<span id="ttuit">0</span></br>
                    Total de categorias:<span id="tcat">0</span></br>
                  </div>
                  <div>
                    <h4>Tweets mas populares</h4>
                    Usuario con mas tweets <span id="userm"></span></br>
                    Categoria con mas tweets <span id="catm"></span>    </br>                
                  </div>
                        <div>
                            <h4>Buscar por Usuario</h4>
                            <form action="/usuario" method="post">
                                <div>
                                <label for="name">Usuario:</label>
                                <input type="text" id="usuario" name="usuario">
                                </div>                            
                            </form>                        
                        </div>

                        <div> 
                                <h4>Buscar por Categoria</h4>
                                <form action="/categoria" method="post">
                                    <div>
                                    <label for="name">Categoria:</label>
                                    <input type="text" id="categoria" name="categoria">
                                    </div>                            
                                </form>                        
                            </div>
                </div>

                
        </div>


</body>

</html>