<!DOCTYPE html>
<html>

<head>  
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script>
            var socket = io();            
            socket.on('message', addMessages)
            function addMessages(message){                 
                
            }             
    </script>

    <style>
    
    body {
  margin: 0;
  padding: 0;
  background: rgb(241, 161, 161);
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  } 
}
    
    </style>


</head>

    <title>Consulta por Usuario</title>

</head>

<body class="news">

        <header>
          <div class="nav">
            <ul>
              <li class="home"><a href="">Timeline</a></li>
            </ul>
          </div>
        </header>

        <div id="cuerpo_navegador">
            
            <h3>USERNAME: <%= username %> </h3> 
            <h3>NOMBRE:   <%= name %> </h3> 
            <h3>TWITTS:   <%= cantidad %> </h3> 

            <ul>
              <% twits.forEach(function(twit){ %>
              <li>Contenido: <%- twit.txt %></li>
              <li>Categoria: <%- twit.categoria %></li>
              <p>
            <%});%>
         </ul>
            
            
        </div>
                
</body>

</html>

